root = true

[**{.js,.ts,.html,.hbs,.mustache,.xml,.xsl,.scss,.css,.sh,.vcl,.mk,Makefile,.json,.yml,.yaml,.md}]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
